@tailwind base;
@tailwind components;
@tailwind utilities;


/* navbar background */
.css-7mxpdy-MuiPaper-root-MuiAppBar-root {
  background-color: #e7e7e7 !important;
}
.MuiToolbar-root.MuiToolbar-gutters.MuiToolbar-regular.flex.css-1ygil4i-MuiToolbar-root {
  color: black !important;
}


.MuiFormControl-root.MuiFormControl-fullWidth.todo-select.css-ytlejw-MuiFormControl-root {
  margin-top: 18px;
}

.MuiFormControl-root.MuiFormControl-fullWidth.css-17qa0m8 {
  margin-top: 11px!important;
}
.css-157ayuk {
  background-color: #e7e7e7 !important;
  color: #000000;
}
.css-aixiz9-MuiButtonBase-root-MuiIconButton-root {
  padding: 0px!important;
}
.MuiInputBase-root.MuiOutlinedInput-root.MuiInputBase-colorPrimary.MuiInputBase-formControl.bg-gray-200.task-status.css-sc8y68-MuiInputBase-root-MuiOutlinedInput-root-MuiSelect-root {
  height: 35px;
}